@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 229 70% 10%;
    --foreground: 0 0% 98%;
    --card: 229 70% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 229 70% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 46 95% 57%;
    --primary-foreground: 229 70% 10%;
    --secondary: 229 70% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 229 70% 20%;
    --muted-foreground: 0 0% 65%;
    --accent: 229 70% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 70% 20%;
    --input: 229 70% 25%;
    --ring: 46 95% 57%;
    --chart-1: 46 95% 57%;
    --chart-2: 229 70% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 229 70% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 46 95% 57%;
    --sidebar-primary-foreground: 229 70% 10%;
    --sidebar-accent: 229 70% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 229 70% 20%;
    --sidebar-ring: 46 95% 57%;
  }
  .dark {
    --background: 229 70% 10%;
    --foreground: 0 0% 98%;
    --card: 229 70% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 229 70% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 46 95% 57%;
    --primary-foreground: 229 70% 10%;
    --secondary: 229 70% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 229 70% 20%;
    --muted-foreground: 0 0% 65%;
    --accent: 229 70% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 70% 20%;
    --input: 229 70% 25%;
    --ring: 46 95% 57%;
    --chart-1: 46 95% 57%;
    --chart-2: 229 70% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 229 70% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 46 95% 57%;
    --sidebar-primary-foreground: 229 70% 10%;
    --sidebar-accent: 229 70% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 229 70% 20%;
    --sidebar-ring: 46 95% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
